@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');

.statsContainer {
    display: flex;
    flex-direction: row;
    background-color: #292930;
    text-align: center;
    justify-content: space-around;
    padding: 2rem 5vw;
}

.verticalDivider {
    width: 1px;
    margin: 0.5em;
    background-color: #828282;
}

.horizontalDivider {
    width: 50%;
    height: 1px;
    background-color: #828282;
    margin: 1em;
}

.highlightStats,
.highlightValues {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(158,225,239,1) 10%, rgba(187,143,208,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.highlightStats {
    font-size: 2rem;
    font-weight: 700;
}

.bodyText {
    color: #fff;
    margin: 0.5em 1em;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9em;
    text-align: center;
}

.highlightSection {
    background: linear-gradient(to bottom, #6E80DF 5%, rgba(44, 104, 221, 0.455) 30%, #8C5DA3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.icon {
    width: 2em;
    height: 2em;
    margin: 0 1rem;
}

.iconBig {
    width: 3.5em;
    height: 3.5em;
    margin: 0.5em
}

.darkContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 10vw;
}

.rowFlexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.teamMember {
    width: 300px;
    margin: 1rem;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}

.bodyTextDark {
    color: #292930;
    margin: 0.1em 1em;
}

.darkContainer {
    background-color: #292930;

}

.sectionTitleSolid {
    color: #7171B6;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin: 0;
}

.description {
    color: #fff;
    width: 50%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.valueContainer {
    background-color: #202025;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: 1em;
    padding: 0 1em;
    height: 280px;
}

.highlightValues {
    font-size: 1.2em;
    font-weight: 700;
}

@media (max-width: 768px) {
    .rowFlexContainer {
        flex-direction: column; 
    }

    .statsContainer {
        flex-direction: column;
    }
    
    .verticalDivider {
        height: 0px; /* Adjust height to make it look like a thin line */
        margin: 1em 0;
      }
}
  