.blogContainer {
    margin: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .blogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

  
  .articleTitle {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 22px;
  }


  .headerContent {
    font-weight: 500;
    font-size: 32px;
  }
  
  .viewAllButton {
    font-family: 'Arial', sans-serif; 
    color: #43439E; 
    font-size: 20px; 
    background-color: transparent;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
  }