.footer {
  background-color: #292930; 
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-left: 15%;
  padding-right: 15%;
  font-family: 'Nunito', sans-serif;
}

.left, .rightTop, .rightBottom, .getInTouch, .locationContainer, .pages, .follows {
  display: flex;
  flex-direction: column;
}

.rightTop, .rightBottom {
    flex-direction: row;
}

.left {
  flex-basis: 40%;
}

.right {
  flex-basis: 60%; 
}

.getInTouch, .locationContainer, .pages, .follows {
  margin-bottom: 20px;
}

.getInTouch, .locationContainer {
  flex: 1;
}

.pages, .follows {
  flex: 1;
}

.subscribeContainer {
    background-color: #3C3C45;
    min-height: 100%;
    margin-right: 5%;
    border-radius: 5px;
    display: flex; 
    flex-direction: column; 
    padding-top: 5%;
    max-width: 75%;
  }
  
  .subscribeContainerHeader {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    width: 100%;
  }
  
  .subscribeImage {
    width: auto;
    max-width: 70%; 
    height: auto; 
    margin-bottom: 10px; 
    align-self: center;
  }

  .innerSubscribe{
    display: flex; 
    flex-direction: column; 
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .subscribeNow{
    font-weight: 400;
    font-size: larger;
    margin: 0;
  }

  .subscribeNowSub{
    margin: 0;
    margin-bottom: 15px;
    color: #D0D0D0;
  }

  .emailInput {
    background-color: #5B5B61;
    border-radius: 5px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border: none;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    outline: none;
    color: #ffffff; 
    padding-left: 20px;
  }
  
  .emailInput::placeholder {
    color: #ffffff;
    opacity: 1;
  }
  
  .subscribeButton {
    border-radius: 5px;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 10px;
    border: none;
    font-size: 1em;
    font-family: 'Nunito', sans-serif;
    background-color: #FFC107;
    color: #000;
    cursor: pointer;
  }

  .emailInput, .subscribeButton {
    box-sizing: border-box; 
    width: 100%;
  }

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .left, .right {
    flex-basis: 100%;
  }

  .rightTop, .rightBottom {
    flex-direction: column;
  }

  .getInTouch, .locationContainer, .pages, .follows {
    margin-bottom: 20px;
  }
}
