.footer {
  background-color: #1a1a2e; /* Dark background color */
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  padding-left: 15%;
  padding-right: 15%;
  font-family: 'Nunito', sans-serif;
}

.left, .rightTop, .rightBottom, .getInTouch, .locationContainer, .pages, .follows {
  display: flex;
  flex-direction: column;
}

.rightTop, .rightBottom {
    flex-direction: row;
}

.left {
  flex-basis: 40%;
}

.right {
  flex-basis: 60%; 
}

.getInTouch, .locationContainer, .pages, .follows {
  margin-bottom: 20px;
}

.getInTouch, .locationContainer {
  flex: 1;
}

.pages, .follows {
  flex: 1;
}

.subscribeContainer {
    background-color: #3C3C45;
    min-height: 100%;
    margin-right: 5%;
    border-radius: 5px;
    display: flex; 
    flex-direction: column; 
    padding-top: 5%;
    max-width: 75%;
  }
  
  .subscribeContainerHeader {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    width: 100%;
  }
  
  .subscribeImage {
    width: auto;
    max-width: 70%; 
    height: auto; 
    margin-bottom: 10px; 
    align-self: center;
  }
  

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .left, .right {
    flex-basis: 100%;
  }

  .rightTop, .rightBottom {
    flex-direction: column;
  }

  .getInTouch, .locationContainer, .pages, .follows {
    margin-bottom: 20px;
  }
}
