.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem; 
}

.list {
  list-style: none;
  display: flex;
  gap: 1.5rem; 
  margin: 0;
  padding: 0;
  
}

.list li {
  margin: 0; 
  color: black;
}

.list a {
  text-decoration: none;
  color: black; 
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem; 
  transition: color 0.3s; 
}

.active {
  color: #4b2e83;
  position: relative; 
}

.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 3rem;
  margin-left: 1rem;
  height: 2px; 
  background-image: url('../images/HeaderLine.png'); 
  background-size: cover;
}

.pageTitle {
  color: white; 
  font-size: 1.5rem; 
}

@media (max-width: 930px) {
  .container {
    justify-content: center;
  }

  .list a {
    color: white;
  }

  .active::after {
    display: none;
  }

  .list {
    flex-direction: column;
  }

  .list li {
    font-size: 1.2em;
  }
}
