@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;700&display=swap');

.pageHeader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    min-height: 100px; 
}

.headerContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0; 
    z-index: 1; 
}

.logo, .nav, .getStarted {
    
}

.imgLogo {
    padding: 0 !important;
}

.backgroundGradient {
    width: 100%;
    height: auto;
    z-index: 0;
}

.pageTitle {
    position: absolute;
    margin-top: 20vw;
    font-family: 'Nunito', sans-serif;
}

.logo img {
    max-height: 60px; 
    padding: 10px; 
}


.getStarted {
    padding: 10px; 
}

.headerContent {
    align-items: center; 
    padding: 0 20px; 
    color: black;
}

.hamburgerMenu {
    cursor: pointer;
}

.hamburgerMenu span {
    display: block;
    background: #292930; 
    width: 30px;
    height: 3px; 
    margin: 5px 0; 
    transition: 0.3s;
  }

  .menu {
    position: fixed; 
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background: #292930; 
    z-index: 1; 
  }

  .closeBtn {
    cursor: pointer; 
    color: #fff;
    font-size: 2rem;
  }

  .mobileNavbarHeader {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 2em 3em; 
  }